{
  "extends": ["airbnb-base", "plugin:vue/strongly-recommended"],
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "vue/html-closing-bracket-spacing": [
      "error",
      {
        "selfClosingTag": "never"
      }
    ]
  }
}
